.dialog {
    color: black;
    text-decoration: none;
    margin-bottom: 7px;
    font-size: 18px;
    border: 1px solid #95918C;
    border-radius: 20px;
    text-align: center;
}

.dialog:hover {
    background-color: rgba(0, 123, 167, 0.2);
}

.dialog:last-of-type {
    margin: 0;
}

.active {
    color: green;
    text-decoration: none;
}