.nav {
    height: 500px ;
    grid-area: nav;
    margin-right: 10px;
    background: white;
    border-radius: 16px;
}

.link {
    color: black;
    margin-top: 7px;
    font-size: 22px;
    text-decoration: none;
}

.box {
    padding-bottom: 14px;
    margin: 10px 0 0 14px;
    display: flex;
    flex-direction: column;
}

.link:nth-child(6) {
    margin: 30px 0;
}

.link:last-of-type {
    margin-top: 0;
}

.active {
    color: black;
    margin-top: 7px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.active:nth-child(5) {
    margin: 30px 0;
}

.active:last-of-type {
    margin-top: 0;
}

.link:hover {
    opacity: 0.7;
}
