.header {
    max-width: 100%;
    grid-area: header;
    background-color: #00BFFF;
    margin: 0 0 5px;
    border-radius: 0 0 7px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.img {
    max-width: 50px;
    max-height: 50px;
}

.box {
    display: flex;
}

.loginBlock {
    float: right;
}

.login {
    margin: 0 26px 0 0;
    font-size: 20px;
}

.link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    opacity: 0.8;
}