.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.box_message {
    text-align: center;
}

.input {
    height: 20px;
    width: 50%;
    outline: none;
    padding-left: 7px;
}

.button {
    cursor: pointer;
    margin-left: 7px;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}