.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages {
    padding: 10px;
}

.message {

}

.input {
    outline: none;
    padding-left: 7px;
}

.button {
    cursor: pointer;
    margin-left: 7px;
}

.box {
    margin-top: 10px;
}