.input {
    width: 300px;
    height: 18px;
    outline: 0;
    border: 1px solid #dce1e6;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.status_text {
    width: 300px;
    font-size: 20px;
    cursor: pointer;
}

.status {
    width: 300px;
    font-size: 20px;
}