.profile {
    display: flex;
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom left, #f1da36, #D718FF);
    border-radius: 16px;
    align-items: flex-end;
    margin-bottom: 20px;
}

.profile_box {
    width: 100%;
    display: flex;
    border-radius: 16px;
    background: white;
}

.box_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    margin: -70px 0 30px 20px;
}

.img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    margin: 10px 0;
    font-size: 32px;
}

.status {
    font-size: 18px;
    margin: 0 0 10px;
}

.box_info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.info {
    background: white;
    border-radius: 16px;
    max-width: 100%;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
}

.contacts_box {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contacts_box p {
    font-size: 18px;
    margin: 8px 0;
}

.text {
    font-size: 30px;
    margin: 0 0 16px;
}